<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check out the Options:</title>
</head>
<body bgcolor="grey">
    {% csrf_token %}
    <h2>Choose One:</h2>

    <ul>
        <li><a href="get_doglist">List of Dogs</a></li><br>
        <li><a href="post_doglist">Add a Dog</a></li><br>
        <li><a href="get_dogdetail">A Dog details display</a></li><br>
        <li><a href="put_dogdetail">Updating a Dog details</a></li><br>
        <li><a href="delete_dogdetail">Deleting a Dog details</a></li><br>
        <li><a href="breeds/get_breedlist">List of Breeds</a></li><br>
        <li><a href="breeds/post_breedlist">Add a Breed</a></li><br>
        <li><a href="breeds/get_breeddetail">A Dog Breed details display</a></li><br>
        <li><a href="breeds/put_breeddetail">Updating a Dog Breed details</a></li><br>
        <li><a href="breeds/delete_breeddetail">Deleting a Dog Breed details</a></li><br>
    </ul>
    <br><br>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

</body>
</html>