<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locate a Breed</title>
</head>
<body>
    <form action="get_breeddetail" method="get">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td><label for="id">id: </label></td>
                <td><input type="text" name="id" placeholder="id"><br></td>
            </tr>
        </table>
        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

</body>
</html>