<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a Breed</title>
</head>
<body>
    {% csrf_token %}
    {% block content %}

    <h2>Single Breed Data:</h2>

    <li>Breed Name : {{profile.breed_name}}</li>
    <li>Size : {{profile.age}}</li>
    <li>Friendliness : {{profile.breed}}</li>
    <li>Trainability : {{profile.gender}}</li>
    <li>SheddingAmount : {{profile.color}}</li>
    <li>ExerciseNeeds : {{profile.favoritefood}}</li>
    <br><br>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    {% endblock %}
</body>
</html>