<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Breed List</title>
</head>
<body bgcolor="pink">
    {% csrf_token %}
    {% block content %}

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <br>

    <h2>List Of Breeds:</h2>

    {% for profile in profiles %}
    <li>Breed Name : {{profile.breed_name}}</li>
    <li>Size : {{profile.age}}</li>
    <li>Friendliness : {{profile.breed}}</li>
    <li>Trainability : {{profile.gender}}</li>
    <li>SheddingAmount : {{profile.color}}</li>
    <li>ExerciseNeeds : {{profile.favoritefood}}</li>
    <br><br>
    {% endfor %}

    {% endblock %}
</body>
</html>