<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Dog List</title>
</head>
<body bgcolor="pink">
    {% csrf_token %}
    {% block content %}

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <br>

    <h2>List Of Dogs:</h2>

    {% for profile in profiles %}
    <li>Name : {{profile.name}}</li>
    <li>Age : {{profile.age}}</li>
    <li>Breed Name : {{profile.breed_name}}</li>
    <li>Gender : {{profile.gender}}</li>
    <li>Color : {{profile.color}}</li>
    <li>FavoriteFood : {{profile.favoritefood}}</li>
    <li>FavoriteToy : {{profile.favoritetoy}}</li>
    <br><br>
    {% endfor %}

    {% endblock %}
</body>
</html>